.btn {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 15px;
    font-weight: 400;
    border-radius: 6px;
    transition: $trans ;

    >* {
        transition: inherit;

        &:nth-child(2) {
            margin-left: 8px;
        }
    }

    &.btnOutline {
        border: 1px solid $main;
        color: white;
        padding-left: 16px;
        padding-right: 16px;

        &:hover {
            background-color: $main;

            span,
            i {
                color: white !important;
            }
        }
    }

    &.btnReverse {
        background-color: white;

        i {
            color: $main;
        }
    }
}

.btnFull {
    font-size: 24px;
    padding-left: 6px;
    margin-left: 6px;
    margin-left: 15px;
    border: 0;
    color: $main;
    background-color: transparent;
    transition: $trans;
    i{
        color: inherit;
        transition: $trans;
    }
}
