/*--------------------------------
  SCSS Variables
-------------------------------- */

// Fonts
$ff : Montserrat, arial, sans-serif;

// Colors
$main : #005b2e;
$second : #269b3a;
$third : #b0cb08;
$light : #f4f5f4;
$ink : #212121;
$white : #fff;
$mainBG : #eee;
// Add more variables as needed
$trans          : .3s all ease-in-out;
$containerMax   : 1440px;
$boxShadow      : 0 1rem 3rem rgba(0, 0, 0, 0.175);