/*--------------------------------
  Google Fonts
-------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*--------------------------------
  Variables
-------------------------------- */
@import './variables';
@import './icons';
@import './utilities';
@import './btn';



/*--------------------------------
  Global Styles
-------------------------------- */

/* CSS Reset & Base */
*, *::before, *::after {
  box-sizing: border-box;
}


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  body {
    font-family: $ff;
    font-size: 16px;
    line-height: 1.5;
    color: $ink;
    background-color: $mainBG;
  }
}



/* Layout utilities */
.container {
    max-width: $containerMax;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

/* Add more global styles as needed */
.backdrop {
    position: fixed;
    z-index: 20;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.75); /* Ajuste selon ton $main */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease;
}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
}

#whoAreYou, #searchHeader {
    opacity: 0;
    transform: scaleY(0);
    transform-origin: center center;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#whoAreYou.is-open, #searchHeader.is-open {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
}

#whoAreYou {
    position: fixed;
    width: 300px;
    z-index: 40;
    a {
        background-color: white;
        ;
        display: block;
        padding: 10px 15px;
        color: $main;
        border-radius: 10px;
        margin-bottom: 10px;
        transition: $trans;

        * {
            transition: inherit;
        }

        i {
            font-size: 20px;
            margin-right: 8px;
        }

        >span {

            span {
                font-weight: 500;
                font-size: 15px;
            }
        }

        p {
            margin: 6px 0 0 0;
            font-size: 14px;
        }

        &:hover {
            background-color: $main;

            * {
                color: white !important
            }
        }
    }
}

#searchHeader {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    padding-top: 20px;
    z-index: 40;

    form {
        input {
            flex-grow: 1;
            height: 36px;
            display: block;
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border: 0;
            padding: 0 8px;
            outline: none !important;
            box-shadow: none !important;
        }

        .btn {
            height: 36px;
            background-color: $main;
            color: white;
            border: 0;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
            i {
                font-size: 22px;
            }
        }
    }
}
