/*--------------------------------
  Normalize CSS (Reset CSS)
-------------------------------- */
@use 'normalize.css';


/*--------------------------------
  Google Fonts
-------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*--------------------------------
  Variables
-------------------------------- */
@use './variables' as *;
@use './icons' as *;
@use './utilities' as *;
@use './btn' as *;



/*--------------------------------
  Global Styles
-------------------------------- */

/* CSS Reset & Base */
*, *::before, *::after {
  box-sizing: border-box;
}


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  body {
    font-family: $ff;
    font-size: 16px;
    line-height: 1.5;
    color: $ink;
    background-color: $mainBG;
    min-height: 150vh;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
}



/* Layout utilities */
.container {
    max-width: $containerMax;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

/* Add more global styles as needed */
