/*--------------------------------
  Normalize CSS (Reset CSS)
-------------------------------- */
@import 'normalize.css';


/*--------------------------------
  Google Fonts
-------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import 'normalize.css';
/*--------------------------------
  Variables
-------------------------------- */
@import './variables';
@import './icons';
@import './utilities';
@import './btn';



/*--------------------------------
  Global Styles
-------------------------------- */

/* CSS Reset & Base */
*, *::before, *::after {
  box-sizing: border-box;
}


html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  body {
    font-family: $ff;
    font-size: 16px;
    line-height: 1.5;
    color: $ink;
    background-color: $mainBG;
    min-height: 150vh;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
}



/* Layout utilities */
.container {
    max-width: $containerMax;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

/* Add more global styles as needed */
